.btn{

  &:link,
  &:visited{
    background-color: $primary;
  }

  &:focus,
  &:hover {
    background-color:  $primary-dark;
  }

  &:active{
    background-color:  $primary-light;
  }
}

.wrapper-page{
  padding-bottom: 2.4rem;
  padding-top: 2.4rem;
}
