.site-title{
  font-family: "Satisfy", "Caveat", cursive;
}

.btn{
  background-color: $orange;

  &:focus,
  &:hover {
    background-color: darken($orange, 5%);
  }

  &:active{
    background-color: $orange;
  }
}
