.btn{
  &:link,
  &:visited{
    background-color: $primary;
  }

  &:focus,
  &:hover {
    background-color:  $primary-dark;
  }

  &:active{
    background-color:  $primary-light;
  }
}

.post-it{
  background: $it-yellow;
  box-shadow: 1px 1px 0px 0px darken($it-yellow, 50%);
  margin-bottom: 2rem;
  padding: 1.4rem 1rem;
}

.post-marker{
  background-color: $it-yellow;
  box-shadow: 0px 1px 0px 0px darken($it-yellow, 50%);
  display: inline-block;
  font-family: $heading;
  padding: .5rem 2rem;
}

.menu-item .post-marker{
  @media screen and (min-width: 768px){
    padding: .5rem 2rem .5rem 3.2rem;
  }
}

.menu-item:nth-child(1n) .post-marker{
  background-color: $it-yellow;
  box-shadow: 1px 1px 0px 0px darken($it-yellow, 50%);
  transform: rotate(1deg);
}

.menu-item:nth-child(2n) .post-marker{
  background-color: $it-pink;
  box-shadow: 1px 1px 0px 0px darken($it-pink, 50%);
  transform: rotate(-1deg);
}

.menu-item:nth-child(3n) .post-marker{
  background-color: $it-green;
  box-shadow: 1px 1px 0px 0px darken($it-green, 50%);
}

.menu-item:nth-child(4n) .post-marker{
  background-color: $it-orange;
  box-shadow: 1px 1px 0px 0px darken($it-orange, 50%);
}

.menu-item:nth-child(5n) .post-marker{
  background-color: $it-blue;
  box-shadow: 1px 1px 0px 0px darken($it-blue, 50%);
}

#menu-toggle{
  background-color: $it-yellow;
  box-shadow: 1px 1px 0px 0px darken($it-yellow, 50%);
  transform: rotate(0);
}
